@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<select>
    <option value="1">Steven Spielberg</option>
    <option value="2">Martin Scorsese</option>
    <option value="3">Roman Polanski</option>
    <option value="4">Roberto Rossellini</option>
    <option value="5">Stanley Kubrick</option>
    <option value="7">Quentin Tarantino</option>
    <option value="8">Orson Welles</option>
    <option value="9">Francis Ford Coppola</option>
    <option value="10">Ridley Scott</option>
    <option value="11">Akira Kurosawa</option>
    <option value="12">Joel Coen</option>
    <option value="13">Ethan Coen</option>
    <option value="14">John Ford</option>
    <option value="15">Sergio Leone</option>
    <option value="16">Woody Allen</option>
    <option value="17">Billy Wilder</option>
    <option value="18">Clint Eastwood</option>
    <option value="19">Frank Capra</option>
    <option value="20">Charles Chaplin</option>
    <option value="21">Christopher Nolan</option>
    <option value="22">Robert Bresson</option>
    <option value="23">Alfred Hitchcock</option>
</select>

