@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<select>
    <option value="1">Action</option>
    <option value="2">Adventure</option>
    <option value="3">Animation</option>
    <option value="4">Biography</option>
    <option value="5">Comedy</option>
    <option value="7">Crime</option>
    <option value="8">Documentary</option>
    <option value="9">Drama</option>
    <option value="10">Fantasy</option>
    <option value="11">FilmNoir</option>
    <option value="12">History</option>
    <option value="13">Horror</option>
    <option value="14">Musical</option>
    <option value="15">Mistery</option>
    <option value="16">Romance</option>
    <option value="17">SciFi</option>
    <option value="18">Sport</option>
    <option value="19">Thriller</option>
    <option value="20">War</option>
    <option value="21">Western</option>
</select>