@model MovieShareCore.ViewModels.MovieViewModel

@{
    ViewData["Title"] = "Edit";
}

<ul id="navlist">
    <li><a asp-action="Index">Movie</a></li>
    <li><a asp-action="Edit">Edit</a></li>
</ul>

<div class="form-create">
    <h1>Edit Movie!<span>Something is wrong? Fixed it!</span></h1>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="inner-wrap">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                @*<input asp-for="Director" class="form-control" />*@
                <select asp-for="DirectorSelected"
                        asp-items="Model.Directors"
                        class="text-secondary"></select>
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                <select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <select asp-for="CountrySelected"
                        asp-items="Model.Countries"
                        class="text-secondary"></select>
                @*<partial name="_Countries" />*@
                <span id="country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group action-button">
            <input id="submit" type="submit" value="Save" />
            <a asp-action="Index">
                <input type="button" value="Cancel" />
            </a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
